# Archivos y carpetas de Python
*.pyc
__pycache__/

# Archivos y carpetas del entorno virtual
venv/
env/

# Archivos de log
logs/

# Configuración de entornos
.env

# Archivos generados por el IDE
.vscode/
.idea/
